@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,400i,600,600i,800');

html {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 100px;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  margin-top: 50px;
  text-align: center;
}

button {
  font-size: 130%;
  padding: 10px 20px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}

h2 {
  margin: 30px 10%;
  font-size: 150%;
  line-height: 1.5;
  color: rgb(160,177,49);
  text-align: center;
}
h2 p {
  margin: 0;
}
h2 p.left {
  text-align: left;
}
h2 p.right {
  text-align: right;
}
h2 small {
  display: block;
  font-size: 80%;
}

p.text-center {
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 80%;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  border-color: #eee;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 13px 20px;
  margin-bottom: 5px;
}
ul li:hover {
  background-color: #ddd;
  cursor: pointer;
}
ul li.selected {
  background-color: rgb(160,177,49);
  color: white;
}

ul li.autre textarea,
ul li.autre textarea:focus {
  display: block;
  width: calc(100% - 30px);
  height: 50px;
  outline: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 0.5px solid #ddd;
  font-size: 18px;
}

a {
  color: rgb(160,177,49);
  text-decoration: underline;
}

.links a {
  display: block;
  margin: 10px auto;
  text-align: center;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
  body {
    width: auto;
    max-width: initial;
    margin: 0;
    padding: 20px 25px;
  }
  footer {
    margin-top: 25px;
  }
  footer button {
    display: block;
    width: 70%;
    margin: 0 15%;
    margin-top: 20px;
  }
  h2 {
    margin: auto;
  }
  ul li {
    padding: 9px 12px;
  }
}

@media (min-width: 800px) {
  article:before {
    background: url("./logo.jpg");
    background-size: cover;
    content: "";
    display: block;
    width: 3.5cm;
    height: 3.5cm;
    margin: auto;
  }
}
